TRILHA_CLOUD_URL=https://trilha-cloud.eoslab.com.br
TRILHA_CLOUD_TOKEN=tc_REPLACE_ON_HOST
TRILHA_PROJECT=replace-project
TRILHA_REPOSITORY=git@github.com:example/replace-project.git
TRILHA_DEFAULT_BRANCH=main
